.foodItemContainer {
  font-family: Polysans, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  width: 200px;
  margin: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  cursor: pointer;
}

.itemimage {
  height: auto;
  width: 100%;
  border: none;
  border-radius: 20px;
}

.itemContent {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.itemName {
  font-size: 1em;
}
